@model List<NhaSachPN.Models.Publisher>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage1.cshtml";
}

<div class=" m-auto p-3">
    <h2 class="p-3 bg-secondary text-white">Publisher</h2>
    <div class="d-flex">
        <a class="btn btn-outline-info" href="/Admin/Publisher/Create">Create Publisher</a>
        @using (Html.BeginForm("Index", "Publisher", FormMethod.Get, new { @class = "d-flex mx-3", area = "Admin" }))
        {
            <div class="input-group">
                <input class="form-control bg-outline-success me-2" value="@ViewBag.Search" type="search" name="search" placeholder="Tìm kiếm theo tên ..." aria-label="Search">
                <button class="btn btn-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        }
    </div>
    <table class="table mt-4 m-3 w-75 m-auto">
        <tr>
            <th>Publisher ID</th>
            <th>Publisher Name</th>
            <th>Function</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.PublisherName</td>    
                <td>
                    <a class="text-decoration-none text-warning mr-2" href="/Admin/Publisher/Edit/@item.ID">Edit</a> -
                    <a class="text-decoration-none text-danger" href="/Admin/Publisher/Delete/@item.ID">Delete</a>
                </td>
            </tr>
        }
    </table>
    @{
        int prevPage = ViewBag.Page - 1;
        int nextPage = ViewBag.Page + 1;
        if (prevPage < 0)
        {
            prevPage = 1;
        }
        if (nextPage > ViewBag.SoTrang)
        {
            nextPage = ViewBag.SoTrang;
        }
    }
    <ul class="pagination justify-content-center mt-3">
        <li class="page-item">
            <a class="page-link" href="/Admin/Publisher/Index?search=@ViewBag.Search&page=@prevPage">Prev</a>
        </li>
        @for (int i = 1; i <= ViewBag.SoTrang; i++)
        {
            if (i == ViewBag.Page)
            {
                <li class="page-item">
                    <a class="page-link active " href="/Admin/Publisher/Index?search=@ViewBag.Search&page=@i">@i</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link " href="/Admin/publisher/Index?search=@ViewBag.Search&page=@i">@i</a>
                </li>
            }
        }
        <li class="page-item">
            <a class="page-link active" href="/Admin/publisher/Index?search=@ViewBag.Search&page=@nextPage">Next</a>
        </li>
    </ul>
</div>



