@model NhaSachPN.Models.PurchaseVoucher
@using NhaSachPN.Models;
@{
    CompanyDBContext db = new CompanyDBContext();
    List<Product> product = db.Products.ToList();
}
@{
    ViewBag.Title = "Create";
}

<h2 class="m-3 p-3 bg-secondary text-white">Create</h2>

@using (Html.BeginForm("Create", "PurcharseVoucher", FormMethod.Post, new { area = "Admin"}))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal w-25 m-auto p-3" style="border: solid 1px #cdcdcd">
    <h4>PurchaseVoucher</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Product.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select class="form-control" id="quantityDropdown" name="ProductID">
                @foreach (var item in product)
                {
                    <option value="@item.ProductID">@item.ProductName</option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary mt-3" />
        </div>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>
}


